* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h11 {
    color: red;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: rgb(199, 156, 190);
}

#form-group row {
    display: block;
    width: 100%;
}




